/*______________________

Component Avatar
________________________
*/
 
.c-avatar{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
}

@media only screen and ( max-width: nth(nth($sizes, 1), 2) ){
    .c-avatar{
        width: 16px;
        height: 16px;
    }
}