/*______________________

Component Button
________________________
*/

.c-button{
    border: inherit;
    outline: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    color: inherit;
    background: inherit;
}

/* : Elements : */
.c-button{
    &__normal{
        @include indent(padding, 12px, 30px, 12px, 30px);
        @include font-size('small');
        @include font-family('helvetica', 'bold');
        @include color('main', background-color);
        @include color(white, color);
        border-radius: 6px;
    }
    &__swiper{
        position: absolute;
        top: 0;
        right: 40px;
        width: 8px;
        outline: none;
        cursor: pointer;
    }
    &__send{
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        @include indent(padding, '', 20px, '', '');
    }
}

/* : Modificators : */
.c-button{
    &--granade{
        @include color('granade', background-color);
    }
    &__swiper{
        &--prev{
            right: 88px;
        }
    }
}