/*______________________

Component Burger
________________________
*/

.c-burger{
    position: relative;
    width: 20px;
}

/* : Elements : */
.c-burger{
    &__line{
        width: 100%;
        height: 2px;
        @include indent(margin, '', '', 2px, '');
        border-radius: 1px;
        @include color(bluedarker, background-color);
        cursor: pointer;
        &:nth-child(2){
            width: 62.5%;
        }
    }
}