/*______________________

Component Image
________________________
*/

.c-image{ 
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* : Elements : */
.c-image{
    &__sygnet{
        width: 80px;
    }
    &__icon{
        width: 16px;
        height: 16px;
        object-fit: contain;
    }
    &__avatar{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        overflow: hidden;
    }
    &__card{
        vertical-align: middle;
    }
}

/* : Modificators : */
.c-image{
    &--transl{
        transform: translateY(25%);
    }
    &--h180{
        height: 180px;
    }
    &--h210{
        height: 210px;
    }
    &--br6{
        border-radius: 6px;
    }
}

@media only screen and ( max-width: nth(nth($sizes, 1), 2) ){
    /* : Elements : */
    .c-image{
        &__avatar{
            width: 16px;
            height: 16px;
        }
    }

    /* : Modificators : */
    .c-image{
        &--h210{
            height: 180px;
        }
    }
}