/*______________________

Component Link
________________________
*/

.c-link{
    color: inherit;
    text-decoration: inherit;
    vertical-align: middle;
}

/* : Elements : */
.c-link{

}

/* : Modificators : */
.c-link{

}