/*______________________

Component List
________________________
*/

.c-list{
    padding: 0;
    margin: 0;
    list-style: none;
}

/* : Modificators : */
.c-list__element{
    position: relative;
    &:last-child{
        margin: 0;
    }
    &--hovopac{
        opacity: .5;
        transition: opacity .3s ease-in-out;
        &:hover{
            opacity: 1;
        }
    }
}