/*______________________

Component Navigation
________________________
*/

.c-navigation{
    @include font-size('small');
    @include font-family-getter('helvetica' , 'bold');
    text-transform: uppercase;
}

/* : Elements : */
.c-navigation{
    &__second{
        position: absolute;
        top: 100%;
        left: -20px;
        width: 200px;
        @include indent(padding, 20px, 20px, 20px, 20px);
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 6px;
    }
}
