/*______________________

Component Swiper All Styles
________________________
*/

.c-swiper{
    position: relative;
}

.swiper-slide{
    opacity: 0;
    visibility: hidden;
    transition: opacity .4s ease-in-out, visibility .4s ease-in-out;
    &-active{
        opacity: 1;
        visibility: visible;
    }
}

.swiper-button-disabled{
    opacity: .3;
}