.container{
    max-width: nth(nth($container, 3), 2) - nth(nth($gutter, 1), 2) * 2;
    @include indent(margin, '', auto, '', auto);
    @include indent(padding, '', nth(nth($gutter, 1), 2), '', nth(nth($gutter, 1), 2));
}

@media only screen and ( max-width:  nth(nth($sizes, 2), 2) ){
    .container{
        max-width: nth(nth($container, 2), 2) - nth(nth($gutter, 1), 2) * 2;
    }
}

@media only screen and ( max-width:  nth(nth($sizes, 1), 2) ){
    .container{
        max-width: nth(nth($sizes, 1), 2) - nth(nth($gutter, 2), 2) * 2;
        @include indent(padding, '', nth(nth($gutter, 2), 2), '', nth(nth($gutter, 2), 2));
    }
}