/* : Font size mixin : */
@mixin font-size($name) {
    @each $type, $size in $fontSizes{
        @if ( $name == $type){
            font-size: $size;
        }
    }
}

/* : Margin generator : */
@mixin indent($type, $top: '', $right: '', $bottom: '', $left: ''){
    @if ( $top != '' ) {
        #{$type}-top: #{$top};
    }
    @if ( $right != '' ) {
        #{$type}-right: #{$right};
    }
    @if ( $bottom != '' ) {
        #{$type}-bottom: #{$bottom};
    }
    @if ( $left != '' ){
        #{$type}-left: #{$left};
    }
}

/* : Colors : */
@mixin color($name, $act){
    $trigger: 'true';
    @each $style, $color in $colors{
        @if ( $style == $name ){
            #{$act}: $color;
            $trigger: 'false';
        }
    }
    @if ( $trigger == 'true' ){
        #{$act}: $name;
    }
}