/* : Font size mixin : */
@mixin font-size($name) {
    @each $type, $size in $fontSizes{
        @if ( $name == $type){
            font-size: $size;
        }
    }
}

/* : Margin generator : */
@mixin indent($type, $top: '', $right: '', $bottom: '', $left: ''){
    @if ( $top != '' ) {
        #{$type}-top: #{$top};
    }
    @if ( $right != '' ) {
        #{$type}-right: #{$right};
    }
    @if ( $bottom != '' ) {
        #{$type}-bottom: #{$bottom};
    }
    @if ( $left != '' ){
        #{$type}-left: #{$left};
    }
}

/* : Colors : */
@mixin color($name, $act){
    $trigger: 'true';
    @each $style, $color in $colors{
        @if ( $style == $name ){
            #{$act}: $color;
            $trigger: 'false';
        }
    }
    @if ( $trigger == 'true' ){
        #{$act}: $name;
    }
}

/* : Get Font Family : */
@mixin font-family($family, $type){
    @each $sfamily, $types in $fontFamilys{
        @if ( $sfamily == $family ){
            font-family: $family;
            @include get-style($type, $types);
        }
    }
}

@mixin get-style($type, $types){
    @each $stype, $options in $types {
        @if ( $stype == $type ){
            @each $name, $option in $options{
                #{$name}: $option;
            }
        }
    }
}