*{
    box-sizing: border-box;
}

html, body{
    @include font-size('normal');
    @include font-family-getter('helvetica', 'regular');
    @include color('bluedarker');
    line-height: 1.5em;
}

h1, .h1, h2, .h2, h3, .h3{
    @include indent(margin, 10px, '', 10px, '');
}

h1, .h1{
    @include font-size('h1');
}

h2, .h2{
    @include font-size('h2');
}

h3, .h3{
    @include font-size('h3');
}

figure{
    margin: 0;
}