.col-mbl-1, .col-mbl-2, .col-mbl-3, .col-mbl-4, .col-mbl-5, .col-mbl-6, .col-mbl-7, .col-mbl-8, .col-mbl-9, .col-mbl-10, .col-mbl-11, .col-mbl-12,
.col-tbl-1, .col-tbl-2, .col-tbl-3, .col-tbl-4, .col-tbl-5, .col-tbl-6, .col-tbl-7, .col-tbl-8, .col-tbl-9, .col-tbl-10, .col-tbl-11, .col-tbl-12,
.col-lpt-1, .col-lpt-2, .col-lpt-3, .col-lpt-4, .col-lpt-5, .col-lpt-6, .col-lpt-7, .col-lpt-8, .col-lpt-9, .col-lpt-10, .col-lpt-11, .col-lpt-12,
.col-pc-1, .col-pc-2, .col-pc-3, .col-pc-4, .col-pc-5, .col-pc-6, .col-pc-7, .col-pc-8, .col-pc-9, .col-pc-10, .col-pc-11, .col-pc-12, .col-auto{
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    padding-right: nth(nth($gutter, 1), 2);
    padding-left: nth(nth($gutter, 1), 2);
}

.col-auto{
    flex: 0 0 auto;
    width: auto;
}

@each $name, $size in $sizes {
    @if ( $name == 'mbl' ){
        @for $i from 1 to 13{
            .col-#{$name}-#{$i}{
                flex: 0 0 $i / 12 * 100%;
                width: $i / 12 * 100%;
            }
        }
    }
    @else{
        @media only screen and ( min-width: $size ){
            @for $i from 1 to 13{
                .col-#{$name}-#{$i}{
                    flex: 0 0 $i / 12 * 100%;
                    width: $i / 12 * 100%;
                }
            }
        }
    }
}

@media only screen and ( max-width: nth(nth($sizes, 1), 2) ){
    .col-mbl-1, .col-mbl-2, .col-mbl-3, .col-mbl-4, .col-mbl-5, .col-mbl-6, .col-mbl-7, .col-mbl-8, .col-mbl-9, .col-mbl-10, .col-mbl-11, .col-mbl-12,
    .col-tbl-1, .col-tbl-2, .col-tbl-3, .col-tbl-4, .col-tbl-5, .col-tbl-6, .col-tbl-7, .col-tbl-8, .col-tbl-9, .col-tbl-10, .col-tbl-11, .col-tbl-12,
    .col-lpt-1, .col-lpt-2, .col-lpt-3, .col-lpt-4, .col-lpt-5, .col-lpt-6, .col-lpt-7, .col-lpt-8, .col-lpt-9, .col-lpt-10, .col-lpt-11, .col-lpt-12,
    .col-pc-1, .col-pc-2, .col-pc-3, .col-pc-4, .col-pc-5, .col-pc-6, .col-pc-7, .col-pc-8, .col-pc-9, .col-pc-10, .col-pc-11, .col-pc-12{
        padding-right: nth(nth($gutter, 2), 2);
        padding-left: nth(nth($gutter, 2), 2);
    }
}