/* : Margins : */
$margins: (10, 20, 30, 40, 60);

/* : Gutter : */
$gutter: (
    normal: 40px,
    mbl: 24px
);

/* : Query sizes : */
$sizes: (
    mbl: 480px,
    tbl: 768px,
    lpt: 1440px,
    pc: 1600px
);

/* : Containers width : */
$container: (
    mbl: 329px,
    tbl: 608px,
    lpt: 1160px,
);

/* : Colors : */
$colors: (
    main: #F6F8F9,
    granade: #FA6980,
    greydarker: #A6ADB4,
    bluedarker: #202124,
    white: #FFFFFF
);

/* : Font sizes : */
$fontSizes: (
    small: 11px,
    normal: 13px,
    h3: 16px,
    h2: 24px,
    h1: 32px
)