/* : Margins : */
$margins: (10, 20, 30, 40, 60, 100);

/* : Gutter : */
$gutter: (
    normal: 40px,
    mbl: 24px
);

/* : Query sizes : */
$sizes: (
    mbl: 480px,
    tbl: 768px,
    lpt: 1024px,
    pc: 1440px
);

/* : Containers width : */
$container: (
    mbl: 329px,
    tbl: 608px,
    lpt: 1160px,
);

/* : Colors : */
$colors: (
    main: #F6F8F9,
    granade: #FA6980,
    greylighter: #EBEDED,
    greydarker: #A6ADB4,
    bluedarker: #202124,
    white: #FFFFFF
);


/* : Font sizes : */
$fontSizes: (
    small: 11px,
    normal: 13px,
    h3: 16px,
    h2: 24px,
    h1: 32px
);

/* : Font familys : */
$fontFamilys: (
    helvetica: (
        oblique: (
            font-weight: 300,
            font-style: italic,
        ),
        regular: (
            font-weight: 400,
            font-style: normal,
        ),
        bold: (
            font-weight: 700,
            tyle: normal,
        )
    ),
    acumin-pro: (
        regular: (
            font-weight: 400,
            font-style: normal,
        ),
        bold: (
            font-weight: 700,
            font-style: normal,
        )
    )
)