.d-flex{
    display: flex;
}

.row{
    display: flex;
    flex-wrap: wrap;
    @include indent(margin, '', - nth(nth($gutter, 1), 2), '', - nth(nth($gutter, 1), 2));
}

.f-wrap{
    flex-wrap: wrap;
}

/* : Align Items : */
.aic{
    align-items: center;
}
.aife{
    align-items: flex-end;
}

/* : Justify Content : */
.jcc{
    justify-content: center;
}
.jcsb{
    justify-content: space-between;
}
.jcfe{
    justify-content: flex-end;
}

@media only screen and ( max-width: nth(nth($sizes, 1), 2) ){
    .row{
        @include indent(margin, '', - nth(nth($gutter, 2), 2), '', - nth(nth($gutter, 2), 2));
    }
}